<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/posts.css">
    <link rel="stylesheet" href="/global.css">
</head>

<body>
    <div class="posts">

        <div class="auth">
            <h3>Hello, <%=user.username %>
            </h3>
            <a href="/logout">logout</a>
        </div>

        <div class="header">
            <h1>Posts</h1>
            <a href="/create-post-page">Add New Post</a>
        </div>

        <div class="post">
            <% if(posts.length !==0) { %>
                <% posts.forEach(post=> { %>
                    <h2>
                        <%=post.title%>
                    </h2>
                    <p class="description">
                        <%=post.description%>
                    </p>
                    <p>
                        <b>Date Posted:</b>
                        <%=post.createdAt.toLocaleString()%>
                    </p>

                    <div class="action-buttons">
                        <a href="/update-post-page/<%=post._id %>" class="update-btn">Update</a>
                        <form method="post" action="/posts/<%=post._id %>?_method=DELETE">
                            <button class="delete-btn">Delete</button>
                        </form>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <p>No posts available.</p>
                            <% } %>
        </div>
    </div>
</body>

</html>